* {
  box-sizing: border-box;
}

.rasa-uniquifier {
  font-family: "Rasa", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

html {
  font-family: sans-serif;
  background-color: #1c3b6a;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 40px 80px;
  gap: 40px;
}

.logo {
  color: #f6f9fe;
  font-size: 40px;
}

.navLinks {
  display: flex;
  gap: 40px;
}

.nav-link {
  text-decoration: none;
  color: #f6f9fe;
  font-size: 18px;
  border-bottom: 1px solid transparent;
}

.nav-link:hover {
  border-bottom: 1px solid #f6f9fe;
}

.nav-link-active {
  text-decoration: none;
  color: #f6f9fe;
  font-size: 18px;
  border-bottom: 2px solid #f6f9fe;
  padding-bottom: 0.5px;
  display: inline-block;
}

.account {
  text-decoration: none;
  color: #f6f9fe;
  font-size: 30px;
  border-bottom: 1px solid transparent;
}

.account,
.logIn:hover {
  border-bottom: 1px solid #f6f9fe;
}

.headerLinks {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.main {
  position: relative;
}

.photoHeader {
  width: 100%;
  margin-top: 20px;
}

.overlowText {
  position: absolute;
  top: 180px;
  left: 80px;
  color: #191919;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.found {
  font-size: 90px;
}

.subdue {
  font-size: 40px;
}

.buttonJoin {
  border: none;
  cursor: pointer;
  background-color: #f6f9fe;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 20px;
  margin-top: 40px;
}


.phraseAbout {
  margin-top: 40px;
  font-size: 30px;
  color: #f6f9fe;
}

.aboutUsContainer1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 100px;
  margin-top: 40px;
}

.aboutUsContainer1 div,
.aboutUsContainer2 div {
  max-width: 600px;
  color: #f6f9fe;
  font-size: 18px;
}

.aboutUsContainer2 div {
  text-align: right;
}

.aboutUsContainer2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 100px;
}

.aboutUsContainer1 img,
.aboutUsContainer2 img {
  width: 400px;
}

.container {
  padding: 40px 60px;
}

h1 {
  font-size: 30px;
  margin-bottom: 30px;
}

.city-buttons {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.city-button {
  padding: 12px 30px;
  border: none;
  background-color: #1c3b6a;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-top: 20px;
}

.city-button:hover {
  background-color: #ffffff;
  color: black;
}

.city-link {
  text-decoration: none;
  color: #cecece;
  margin-top: 30px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 60px 150px;
}

.card {
  background-color: #ffc548;
  border-radius: 10px;
  padding: 15px;
  color: black;
  display: flex;
  align-items: center;
  position: relative;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  height: 200px;
}

.card img {
  display: block;
  width: 180px;
  height: 180px;
  object-fit: cover;
  object-position: center;
  padding: 10px;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-right {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  z-index: 2;
}

.top-right img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.card-content {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}


.top-left {
  line-height: 1.2;
  margin: 0;
  position: absolute;
  top: 0px;
  left: 10px;
}

.label {
  line-height: 1.2;
  margin: 0;
  font-size: 26px;
  margin-top: 10px;
}

.text {
  line-height: 1.2;
  margin: 0;
}

.cost {
  line-height: 1.2;
  margin: 0;
  font-size: 22px;
}
.size {
  font-size: 26px;

  line-height: 1.2;
  margin: 0;
}


.bottom-left {
  position: absolute;
  bottom: 0px;
  left: 10px;
}


.bottom-right {
  position: absolute;
  bottom: 0px;
  right: 10px;
  text-align: left;
}

.footer {
  margin-top: 40px;
  background-color: #b5def6;
  padding: 40px 80px;
  color: #191919;
}

.footerLogo {
  font-size: 40px;
}

.allConnection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 80px;
}

.contacts {
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

.socialNet {
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-size: 40px;
}
